.servicesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1366px;
  margin: 0 auto;

  img {
    height: 100vh;
  }
}

.servicesContent {
  max-width: 42rem;
  align-self: center;

  h2 {
    color: var(--blue-700);
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 3.2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.7rem;
    letter-spacing: 0.48px;

    & + p {
      margin-top: 3.2rem;
    }
  }

  button {
    background: var(--green-500);
    color: var(--white);
    width: 15rem;
    height: 5.2rem;
    margin-top: 4.8rem;

    font-size: 1.6rem;
    letter-spacing: 0.32px;

    border: none;
    border-radius: .5rem;

    transition: filter .2s;

    &:hover {
      filter: brightness(.9);
    }
  }
}