@import './breakpoints.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}

:root {
  --white: #FFFFFF;

  --gray-50: #FAFAFC;
  --gray-200: #B4B4B4;
  --gray-300: #707070;

  --green-500: #BADC58;

  --blue-700: #1D164D;
  --blue-500: #2D3561;
  --blue-200: #9E9BAF;
}

body {
  background: var(--white);
  color: var(--blue-200);
}

body, input, button, textarea, select {
  font: 400 1.6rem "Muli", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* SwiperJS styles */

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    background: var(--white);
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    box-shadow: 0px 15px 30px #4099F114;
    top: 23.1rem;
    margin-top: 0;

    @include breakpoint(medium-only) {
      top: 50%;
      margin-top: -5.6rem;
    }

    &::before {
      content: '';
      background-image: url(../../public/images/arrow.svg);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 40px;

    @include breakpoint(medium-only) {
      left: 20px;
    }

    &::before {
      transform: rotate(180deg);
    }
  }

  .swiper-button-next {
    right: 40px;

    @include breakpoint(medium-only) {
      right: 20px;
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}